<%- include("../partials/header") %>

    <h1 class="text-center" id="notHead">Notifications</h1>

    <ul class="list-group" id="notList">
        <% allNotifications.forEach(function(notification) { %>
            <li class="list-group-item list-group-item-info text-center">
                <a href="/campgrounds/<%= notification.campgroundId %>">
                    <%= notification.username %> created a new route %>
                </a>
            </li>
            <% }); %>
    </ul>

    <%- include("../partials/footer") %>